$theme-colors: ( 
    "primary": #000,
    "danger": #ff4136
    );

#profilePicture {
    max-height: 200px;
    max-width: 200px;
}

#skills {

    ul {
        padding-left: 21px;
        list-style: none;
    }

    li:before {
        content: "\2714";
        margin-left: -21px; 
    }
}

.nav-item {

    .nav-link {
        margin-right: 5px;
    }

    &:last-child {
        .nav-link {
            margin-right: 0px;
        }
    }
}

.nav-link:hover {
    color: #FFF;
    background-color:  lighten(map_get($theme-colors, 'primary'), 15%);
}

.pointer {
    cursor: pointer;
}

.icon-image {
    max-width: 24px !important;
    max-height: 24px !important;
}

@media screen and (min-width: 576px) {
    .w-sm {
        width: 100% !important;
    }
    .mw-sm {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .w-md {
        width: 100% !important;
    }
    .mw-md {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 992px) {
    .w-lg {
        width: 80% !important;
    }
    .mw-lg {
        max-width: 350px !important;
    }
}

@media screen and (min-width: 1200px) {
    .w-xl {
        width: 80% !important;
    }
    .mw-xl {
        max-width: 350px !important;
    }
}