// Overwrite bootstrap theme colors
$theme-colors: ("primary":#000,
    "danger": #ff4136,
    "link": #007bff);

.hide-overflow {
    overflow: hidden;
}
// Set max-size for picture
#profilePicture {
    max-height: 200px;
    max-width: 200px;
}

// Fixes link colors, becuse primary color overwrite the blue color.
a.list-group-item-action,
a.card-link,
a.link {
    color: map_get($theme-colors, 'link');

    &:hover {
        color: darken(map_get($theme-colors, 'link'), 20%);
    }
}

// Make sure that the cards doesn't take too much space. 400px are just a magic number
.card {
    max-width: 400px;
    margin-bottom: 5px;
}

// Change list style to a green check instead of bullets
#skills {

    ul {
        padding-left: 21px;
        list-style: none;
    }

    li:before {
        content: "\2714";
        margin-left: -21px;
    }
}

// Set a margin between the nav-links (but not the last child).
:not(.flex-column) .nav-item {

    .nav-link {
        margin-right: 5px;
    }

    &:last-child {
        .nav-link {
            margin-right: 0px;
        }
    }
}

// Set margin between the nav-links (but not the first child)
.flex-column .nav-item {

    .nav-link {
        margin-top: 5px;
    }

    &:first-child {
        .nav-link {
            margin-top: 0px;
        }
    }
}

// Make it obvious that you hover the tab-link item
.nav-link:hover {
    color: #FFF;
    background-color: lighten(map_get($theme-colors, 'primary'), 20%);
}

// Change cursor to a pointer
.pointer {
    cursor: pointer;
}

// Set icon-image to a max size.
.icon-image {
    max-width: 24px !important;
    max-height: 24px !important;
}

// Everything below are just for layout of the page, which Bootstrap didn't support out of the box.
// All pixel sizes are from Bootstrap Grid options: https://getbootstrap.com/docs/4.3/layout/grid/#grid-options
@media screen and (min-width: 576px) {
    .w-sm {
        width: 100% !important;
    }

    .mw-sm {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 768px) {
    .w-md {
        width: 100% !important;
    }

    .mw-md {
        max-width: 100% !important;
    }
}

@media screen and (min-width: 992px) {
    .w-lg {
        width: 80% !important;
    }

    .mw-lg {
        max-width: 350px !important;
    }
}

@media screen and (min-width: 1200px) {
    .w-xl {
        width: 80% !important;
    }

    .mw-xl {
        max-width: 350px !important;
    }
}